/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

.jumbo-image{
  max-width: 75%;
}

.github-link{
  display: flex;
  justify-content: center;
  padding: 1%;
}

a{
  text-justify: center;
}

a > img{
  width: 30px;
  height: 30px;
}
